:root,
:root.light {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --color-primary: #7C52FE;
  --color-primary--400: #9f81fa;
  --color-extra: #ca361d;
  --color-white: #fff;
  --color-black: #000;
  --color-background-body: #000;

  --color-body-background: #fff;
  --color-foreground: #0f172a;
  --color-foreground-rgb: 15, 23, 42;
  --color-foreground-inverted: #fbfbff;
  --color-background: #f4f5f6;
  --color-background-rgb: 244, 245, 246;
  --color-border: #d4d5d6;
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-body-background: #121212;
    --color-foreground: #fbfbff;
    --color-foreground-rgb: 251, 251, 255;
    --color-foreground-inverted: #040400;
    --color-background: #262629;
    --color-background-rgb: 38, 38, 41;
    --color-border: #3f3f42;
    color-scheme: dark;
  }
}

:root.dark {
  --color-body-background: #121212;
  --color-foreground: #fbfbff;
  --color-foreground-rgb: 251, 251, 255;
  --color-foreground-inverted: #040400;
  --color-background: #262629;
  --color-background-rgb: 38, 38, 41;
  --color-border: #3f3f42;
  color-scheme: dark;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: thin;
}

*:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px var(--color-primary);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-foreground);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
