@import '../../variables';
@import '../../mixins';

.player {
  position: fixed;
  z-index: 10;
  left: 28rem;
  bottom: 0;
  width: calc(100% - 28rem);
  height: 6.5rem;
  background-color: rgba(var(--color-background-rgb), .85);
  backdrop-filter: blur(.25rem);
  border-top: 1px solid var(--color-border);
  transition: transform 500ms;

  @include max(s) {
    left: 0;
    width: 100%;
    height: 5.5rem;
    bottom: -.375rem;
  }

  @include range(s, m) {
    left: 24rem;
    width: calc(100% - 24rem);
  }
}

.playerGutter {
  height: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 1120px;
  width: 100%;

  > * {
    max-width: 840px;
    margin: 0 auto;
  }

  @include max(s) {
    padding-left: .75rem;
    padding-right: .75rem;
  }
}

.playerInside {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1.5rem;

  @include max(s) {
    gap: .75rem;
  }
}

.playerLoading {
  .playButton,
  .playerContent {
    opacity: .5;
    pointer-events: none;
  }
}

.playButton {
  all: unset;
  position: relative;
  display: flex;
  flex-shrink: 0;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: rgba(var(--color-foreground-rgb), .6);
  cursor: pointer;
  transition: background-color 200ms, opacity 200ms;

  &:focus-visible {
    box-shadow: 0 0 0 2px var(--color-background) inset;
    outline: 2px solid var(--color-foreground);
  }

  &:hover {
    background-color: rgba(var(--color-foreground-rgb), .8);
  }

  svg {
    display: block;
    max-width: 50%;
    margin: auto;
    fill: var(--color-foreground-inverted);
    stroke: var(--color-foreground-inverted);
  }

  @include max(s) {
    width: 3rem;
    height: 3rem;
  }
}

.playerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .5rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: .25rem;
  transition: opacity 200ms;

  @include max(s) {
    gap: 0;
  }
}

.playerTitle {
  font-weight: 600;
  font-size: .875rem;
  line-height: 1.5;
  margin-top: .25rem;
  overflow:  hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @include min(s) {
    margin-top: .5rem;
    margin-left: -2px;
  }
}

.playerControls {
  display: flex;
  align-items: center;
  padding: .25rem 0;
  gap: 1.5rem;

  @include max(s) {
    gap: .75rem;
  }
}

.playerSeekbar {
  position: relative;
  width: 100%;
  padding: .25rem 0;
  touch-action: none;
  cursor: pointer;

  &:hover {
    .playerSeekbarProgress {
      opacity: .7;
    }

    .playerSeekbarThumb {
      width: .375rem;
    }
  }

  @include max(s) {
    position: absolute;
    top: -.25rem;
    left: 0;
  }
}

.playerSeekbarBackground {
  width: 100%;
  height: .375rem;
  background-color: rgba(var(--color-foreground-rgb), .2);

  @include min(s) {
    border-radius: 9999px;
  }
}

.playerSeekbarProgress {
  position: absolute;
  background-color: var(--color-foreground);
  opacity: .5;
  height: .375rem;
  overflow: hidden;
  pointer-events: none;

  @include min(s) {
    border-radius: .75rem .375rem .375rem .75rem;
  }
}

.playerSeekbarPosition {
  position: absolute;
  top: 50%;
}

.playerSeekbarThumb {
  position: absolute;
  width: .25rem;
  height: 1rem;
  transform: translate(-50%, -50%);
  background-color: var(--color-foreground);
  border-radius: 9999px;
  pointer-events: none;
}

.playerTime {
  font-family: var(--font-mono);
  font-size: .875rem;
  color: rgba(var(--color-foreground-rgb), .25);
  flex-shrink: 0;

  span {
    color: rgba(var(--color-foreground-rgb), .8);
  }
}

.playerPlaybackSpeed {
  flex-shrink: 0;

  button {
    all: unset;
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    opacity: .6;
    cursor: pointer;
    transition: opacity 200ms;

    &:hover {
      opacity: 1;
    }

    svg {
      width: 1rem;
      height: 1rem;
      margin: auto;
    }
  }

  @include max(s) {
    margin-left: auto;
  }
}

.playerPlaybackSpeedIcon {
  fill: rgba(var(--color-foreground-rgb), .6);
  stroke: var(--color-foreground-inverted);
  color: var(--color-foreground-rgb);
}
