@import '@/styles/variables';
@import '@/styles/mixins';

.themeButton {
  position: absolute;
  top: .75rem;
  right: .75rem;
  display: flex;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  border: 0;
  background-color: var(--color-foreground);
  opacity: .5;
  transition: opacity 200ms;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
    margin: auto;
    fill: var(--color-foreground-inverted);
  }

  @include min(s) {
    top: revert;
    bottom: .75rem;
    left: .75rem;
    width: 2.5rem;
    height: 2.5rem;
  }
}
